.gallery {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.gallery .pictureCard {
  background-color: white;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.25);
  margin: 30px;
  width: 400px;
  transition: .5s cubic-bezier(.5, 0, 0, 1);
}
.gallery .pictureCard:hover {
  box-shadow: 0 0 15px 0px rgba(0, 0, 0, 0.5);
  transform: scale(1.01);
}
.gallery .pictureCard img {
  width: 100%;
}
.gallery .pictureCard img:hover {
  cursor: pointer;
}
.gallery .pictureCard .pictureInfo {
  padding: 10px 15px;
}
.gallery .pictureCard .pictureInfo .row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
